<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Search Results</title>
</head>

<body>
    <div class="container mt-5">
        <!-- Back Button -->
        <a href="/search" class="btn btn-secondary mb-3">&larr; Back</a>

        <!-- Title -->
        <h1 class="text-center mb-4">Search Results</h1>

        <!-- Results Section -->
        <div id="results">
            <% if (flights.length===0) { %>
                <p class="text-center">No flights found. Please try a different search.</p>
                <% } else { %>
                    <% flights.forEach(flight=> { %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">
                                        <%= flight.airline %>
                                    </h5>
                                    <h5 class="card-title">$<%= flight.price %>
                                    </h5>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <span class="mr-3"><strong>From:</strong>
                                        <%= flight.origin.name %>
                                    </span>
                                    <i class="fas fa-plane mx-2"></i>
                                    <span class="ml-3"><strong>To:</strong>
                                        <%= flight.destination.name %>
                                    </span>
                                </div>
                                <div class="text-center">
                                    <a href="/flight-details/<%= flight.id %>" class="btn btn-primary">Check</a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } %>
        </div>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>